body {
	background-color:#2d2d2d;
	margin-left:10%;
	margin-right:10%;
	color:#d0d0d0;
}

a {
	color:#aefc00;
}


.column {
  float: left;
  width: 45%;
}

.break{
	min-width:1px;
	float:left;
	width:10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
